*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}
html, body{
  height:100%;
  width:100%;
}
body{
 height: 100%;
 width: 100%  ;
 background-color: #0e0e0e ;
  color: aliceblue;
}
#navy{
  display:flex;
  justify-content: space-around;
  align-items: center;
}
.container-1{
  display: flex;
  align-items: center;
}
.container-2{
  margin-top:15px;
  display: flex;
  align-items: center;
}
#img{
  margin-right:0.9vw;
  height: 25px;
  width: 25px;
}
.links{
  text-align:center;
  font-weight: 700;
  font-size: 16px;
  padding-top: 2.5px;
   margin-left: 20px;
  text-decoration: none;
  color: #9ba3b4;
}
.links:hover{
  color: aliceblue;
}
.container-1 h1{
  font-weight: 550;
  font-size: 19px;
}
#inp{
  background-color:transparent;
  border-style: none;
  color: white;
 height: 30px;
 border-radius: 5px;

}
#dw-btn{
  font-weight: 500;
  font-size: 16px;
  color: #ffffff;  
  text-align: center;
  background-color: #0181e3e1;
  height: 32px;
  width: 100px;
  border-radius: 6px;
  border-style: none;
  cursor: pointer;
}
#dw-btn:active{
  transform: scale(0.90) ;
}
#srch-btn{
  color: beige;
  height: 20px;
  width: 20px;
  background-color: transparent ;
 cursor: pointer;
  border-style: none;
}
#search{
  height: 35px;
  width: 200px;
  border: 1PX solid rgba(77, 76, 76, 0.78);
  border-radius: 5px;
  margin-right: 15px;
}
#vrsion{
margin-top: 25px;
  text-align:center ;
  font-size: 16px;
  font-weight:500;
  color:#9ba3b4;
}
#vrsion a{
 font-size: 15px;
  font-weight: 550;
  color: #098ff5;
}
#container-3{
  display: flex;
  justify-content:space-evenly;
  align-items: center;
  margin-top: 50px;

}
#subcontainer1-3{
  display: flex;
  flex-direction: column;
  width: 300px;
}

#subcontainer1-3 h3{
  margin-top: -4vh;
  margin-bottom: 3vh;
  padding:7px;
  color:#9ba3b4;
  height: 37px;
  font-size: 13.5px;
  width: 300px;
  font-weight: 500;
  border: 1px solid #8080803f;
  border-radius:50px;
  align-self: center;
  text-align: center;
}
#home-screen-code{
width:800px;
border-radius: 10px;
}
#home-screen-code:hover{
  box-shadow: 0 0 20px 1px rgb(0, 253, 253);
}
#subcontainer1-3 h1{
  font-size: 55px;
  font-weight: 500;
  width:350px;
  align-self: flex-start;
  color: #e9eaeb;
}
#dw-windows-btn{
  height: 50px;
  width: 240px;
  border-radius: 6px;
  background-color: #0794ffd6;
  align-self: start;
  margin-top: 3vh;
  margin-bottom: 3vh;
  border-style: none;
}
#dw-windows-btn:hover{
  background-color: #024578;
}

#dw-windows-btn a{
  color: #ffffff;
  font-size: 18px;
  font-weight:600;
  text-decoration: none;
}
#license{
  font-size: 11px;
  width: 360px;
  color: rgba(193, 195, 196, 0.953)
}
#license a{
  font-size: 14px;
  font-weight: 600;
  color: #45adfd;
}
#container-4{
  display: flex;
  align-items:center;
  justify-content: space-evenly;
  height: 500px;
  width: 95vw;
  margin-left: 3.5vw;
}
#subcontainer1-4{
  display: flex;
  flex-direction: column;
  width: 350px;
}
#subcontainer1-4 h1{
  font-size: 32px;
  font-weight: 500;
  
}
#subcontainer1-4 h4{
  font-size: 16px;
  font-weight: 500;
  line-height:155%;
  color:#9ba3b4;
}

#subcontainer2-4{
  display: grid;
  grid-template-columns: 290px 290px 290px ;
  align-items: start;
  justify-items: start;
  margin-right: -25px;
}
.language-icons{
  display:flex;
  justify-content: center;
  align-items: center;
  margin-top: 12px;
}
.language-icons img{
  width: 40px;
  height:40px;
  margin-right: 10px;
}
code{
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
  color:#9ba3b4;
  font-size:15.5px; 
}
#container5{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 60vh;
}
#subcontainer1-5{
  display: flex;
  flex-direction: column;
  width:340px;
  align-items:start;
  row-gap: 20px;
  
}
#subcontainer1-5 h1{
  font-size: 32px;
  font-weight: 500;
}
#subcontainer1-5 a{
  color: #098ff5;
}
#subcontainer2-5{
display: grid;
grid-template-columns: 260px 260px 260px;
/* mask-image: linear-gradient(rgba(0, 0, 0), rgba(0, 0, 0, 0.5)); */
}
.technologies{
  display:flex ; 
  background-color: #5554542b;
  align-items: start;
  justify-content: center;
  width: 250px;
  height: 100px;
  margin-top: 20px;
  border-radius: 10px;
  cursor: pointer;
}
.technologies:hover{
  box-shadow: 0 0 4px 2px rgb(0, 253, 253);
}
.technologies img{
  margin:12px 10px 8px 18px;
  height: 40px;
  width: 40px;
  border-radius: 5px;
  opacity: 0.9;
}
.innerdata1{
  display: flex;
 margin-top: 18px;
  gap: 8px;
  flex-direction: column;
  align-items: start;
  color:#9ba3b4;
  font-size: 14px;
  overflow: hidden;
}
#extensions-marketplace-link{
  color:#9ba3b4;
  margin-top: 20px;
  width: 800px;
  text-align: center;
} 
#extensions-marketplace-link a{
color: #60b3f3;
}
#container-6{
  display: flex;
  align-items: center ;
  justify-content:space-evenly;
  color:#9ba3b4;
  height: 90vh;
}
#subcontainer1-6{
  display: flex;
  flex-direction: column;
  align-items: start;
  text-align:start;
  width: 380px;
  row-gap: 5vh;
  font-size: 16px;
  font-weight: 500;
}
#subcontainer1-6 a{
  color: #3fabfd;
}
#subcontainer1-6 h1{
  font-size: 32px;
  font-weight: 500;
  color: white
}
#container-6 img{
  width: 799px;
  height: 442px;
  border-radius: 10px;
} 
#container-6 img:hover{
  box-shadow: 0 0 20px 1px rgb(0, 253, 253);
}
#container-7{
  display: flex;
  align-items: center ;
  justify-content:space-evenly;
  color:#9ba3b4;
  height:85vh;
}
#container-7 img{
  width: 799px;
  height: 442px;
  border-radius: 10px;
} 
#container-7 img:hover{
  box-shadow: 0 0 20px 1px rgb(0, 253, 253);
}
#subcontainer1-7{
  display: flex;
  flex-direction: column;
  align-items: start;
  text-align:start;
  width: 320px;
  row-gap: 4.5vh;
  font-size: 16px;
  font-weight: 500;
}
#subcontainer1-7 h1{
font-size: 27px;
font-weight: 600;
color: white;
margin-bottom: -25px;
}
#subcontainer1-7 a{
  color: #3fabfd;
}
#container-8{
  display: flex;
  align-items: center ;
  justify-content:space-evenly;
  color:#9ba3b4;
  height:80vh;
}
#container-8 img{
  width: 799px;
  height: 442px;
  border-radius: 10px;
} 
#container-8 img:hover{
  box-shadow: 0 0 20px 1px rgb(0, 253, 253);
}
#subcontainer1-8{
  display: flex;
  flex-direction: column;
  align-items: start;
  text-align:start;
  width: 350px;
  row-gap: 4.5vh;
  font-size: 16px;
  font-weight: 500;
}
#subcontainer1-8 h1{
font-size: 30px;
font-weight: 600;
color: white;
}
#subcontainer1-8 a{
  color: #3fabfd;
}
#subcontainer1-8 p{
  line-height: 155%;
}
#container9{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 30vh;
  row-gap: 2.3vh;
}
#container9 h1{
   font-weight: 500;
  color: white;
}
#container9 p{
  text-align: center;
  width:33vw;
  line-height: 160%;
  font-size: 16px;
  font-weight: 600;
  color:#9ba3b4;
}
#container-10{
  display: grid;
  grid-template-columns: 320px 320px 320px 320px;
  align-content: center;
  justify-content: center;
  justify-items: center;
  align-items: baseline;
  gap: 1.1vw;
  height: 70vh;
}
.extension-showcase{
  display: flex;
  padding: 20px;
  flex-direction: column;
  align-items: flex-start;
  height: 214px;
  width: 310px;
  row-gap: 0.5vh;
  background-color: #706b6b1a;
  border-radius: 10px;
  border: 1px solid rgba(128, 128, 128, 0.288);

}
.extension-showcase:hover{
  box-shadow: 0 0 8px 2px rgba(0, 253, 253, 0.416);
}
.extension-showcase svg{
  height: 48px;
  width: 48px;
  padding: 9px;
  margin-bottom: 20px;
  background-color:rgb(255 255 255 / 7%);
  border-radius: 6px;
}
.extension-showcase h2{
  font-size: 17.5px;
  font-weight: 600;
  text-decoration: none;
  color: #ffffff;
}
.extension-showcase p{
 font-size: 15px;
 font-weight: 500;
 color:#9ba3b4;
 margin-top: 10px;
}
#footy{
  display: flex;
  flex-direction: column;
  align-items:center ;
  justify-content:center ;
  height: 35vh;
}
#container-11{
  display: flex;
  justify-content: space-between;
  width:85vw;
}
#subcontainer1-11{
  display:flex;
  column-gap: 1.8vw;
}
#subcontainer1-11 svg{
height: 30px;
width: 30px;
}
#lastcontainer a{
  text-decoration:none;
  color: #9ba3b4;
  margin-right: 2vw;
  font-size: medium;
  font-weight: 500;
}